In [ ]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder

In [ ]:
iris_dataset = load_iris()
print(iris_dataset.keys())
print(iris_dataset['target_names'])
print(iris_dataset['target'])
print(iris_dataset['feature_names'])

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
X_train, X_test, y_train, y_test = train_test_split(iris_dataset['data'], iris_dataset['target'], random_state=0)
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("Test set predictions:\n {}".format(y_pred))
mean = knn.score(X_test, y_test)
print("Mean score: {}".format(mean))

In [ ]:
print(X_train.shape)
print(y_train.shape)

In [ ]:
iris_dataframe = pd.DataFrame(X_train, columns=iris_dataset.feature_names)
grr = pd.plotting.scatter_matrix(iris_dataframe, c=y_train, figsize=(15, 15), marker='o',hist_kwds={'bins': 20}, s=60, alpha=.8)

In [ ]:
X_new = np.array([[5, 2.9, 1, 0.2]])
print("X_new.shape: {}".format(X_new.shape))


prediction = knn.predict(X_new)
print("Prediction: {}".format(prediction))
print("Predicted target name: {}".format(iris_dataset['target_names'][prediction]))

In [ ]:
# 获取训练集数据
print(iris_dataset.keys())

print(iris_dataset['target_names'])

In [59]:
train_data[numeric_feature].describe()
train_data[numeric_feature].info()
train_data[category_feature].describe()
train_data[category_feature].info()

# 查看图表中的相关性
grr = pd.plotting.scatter_matrix(train_data[numeric_feature], c=train_data['subscribe'], figsize=(15, 15), marker='o',hist_kwds={'bins': 20}, s=60, alpha=.8)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_index,cons_conf_index,lending_rate3m,nr_employed,subscribe
id,,,,,,,,,,,,,,,,,,,,,
1,51,admin.,divorced,professional.course,no,yes,yes,cellular,aug,mon,...,1,112,2,failure,1.4,90.81,-35.53,0.69,5219.74,no
2,50,services,married,high.school,unknown,yes,no,cellular,may,mon,...,1,412,2,nonexistent,-1.8,96.33,-40.58,4.05,4974.79,yes
3,48,blue-collar,divorced,basic.9y,no,no,no,cellular,apr,wed,...,0,1027,1,failure,-1.8,96.33,-44.74,1.50,5022.61,no
4,26,entrepreneur,single,high.school,yes,yes,yes,cellular,aug,fri,...,26,998,0,nonexistent,1.4,97.08,-35.55,5.11,5222.87,yes
5,45,admin.,single,university.degree,no,no,no,cellular,nov,tue,...,1,240,4,success,-3.4,89.82,-33.83,1.17,4884.70,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22496,33,admin.,married,high.school,no,no,no,cellular,aug,fri,...,3,925,3,failure,-2.9,92.47,-43.30,3.36,5203.22,yes
22497,34,admin.,divorced,high.school,no,unknown,unknown,cellular,aug,fri,...,14,533,3,failure,1.4,93.64,-26.27,4.41,4914.80,no
22498,25,admin.,married,professional.course,no,yes,no,cellular,may,thu,...,0,792,5,success,-1.8,90.43,-36.75,4.05,5114.30,no
22499,57,retired,married,high.school,no,yes,no,telephone,may,tue,...,5,989,0,nonexistent,1.1,89.38,-37.96,4.95,5284.43,no
22500,44,blue-collar,married,basic.9y,unknown,yes,no,cellular,apr,fri,...,0,1001,1,failure,-1.8,90.18,-46.20,1.45,5155.19,yes